body{
    background-color: darkblue;
   
}

.topBar{
    background-color: #00ffff;
}

.center{
    margin-left: 49%;
}

.centerIsh{
    margin-left: 35%;
}

#logo{
    margin-left: 49%;
}
.title-row{
    display: inline-block;
}

h1{
    color: #00ffff;
    font-size: large;
}
th {
    text-align: left;
  }

#number{
    color: #00ffff;
    font-size: xx-large;
    padding-right: 20px;
}

#words{
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

.door-row{
    display: inline;
    padding: 10px;
}

#door1{
cursor: pointer;
}

#door2{
cursor: pointer;
}

#door3{
cursor: pointer;
}

